html, body {
    font-size: 14px;
    color: #333;
    padding: 0 .5rem;
}

.aw-container {
    padding: .5rem;
    margin: .5rem 0;
}

.aw-container:not(:last-child){
    border-bottom: 1px solid #ddd;
}
